extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Justin Hartzog

        p.lead.text-light
          | Front-End JavaScript Developer.

        .portfolio-bio
          p
          | While spending the last couple of years working in the Customer Success industry working for SAAS companies I have been working hard to break into the software world as a self-driven learner studying Web Design and Web Development as well as working on real projects used by companies like RedX and Frndly TV 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li HTML
          li CSS
          li JQuery
          li Node.js
          li Express
          li Json
          li React
          li Mongo DB
        h6 Contact Info

        ul
          li 970-581-8801
          li justin.hartzog01@gmail.com

        a.button.expanded(href='https://www.facebook.com/elder.justinhartzog?ref=bookmarks') Facebook
        a.button.expanded(href='https://github.com/JustinHartzog') GitHub
        a.button.expanded(href='https://www.instagram.com/justin_one01/?hl=en') Instagram
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
