<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/foundation.css')
    link(rel='stylesheet', href='/static/css/style.css')
  body(data-barba='wrapper')


  main(data-barba='container' data-barba-namespace='home')
    ul.transition
      li
      li
      li
      li
      li
    div(class='main')
    p.text-light
        | My journey as a Javascript Developer


    div(class='second')
      a(href='/index') Learn More →

  script(src='https://cdn.jsdelivr.net/npm/@barba/core')
  script(src='https://unpkg.com/@barba/core')
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js')
  script(src='/static/js/vendor/jquery.js')
  script(src='/static/js/vendor/what-input.js')
  script(src='/static/js/vendor/foundation.js')
  script(src='/static/js/scripts.js')
